<%= render "layouts/headerHomePage" %>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">           
            <div class="wrapper wrapper-content animated fadeInRight" style="margin-top: 30px;">
                <div class="container">
                    <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="ibox float-e-margins">
                                
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <%= text_field_tag :search, params[:search], placeholder: "Job title, company, or keywords", style: "border: 1px solid #1ab394;", class: "form-control input-lg", id: "job" %>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                           <%= text_field_tag :city, params[:city], placeholder: "City, state, or zip", class: "form-control input-lg", style: "border: 1px solid #1ab394;"%>
                                        </div>
                                    </div>
                                    <div class="col-md-2">                                  
                                        <%= submit_tag "Search",  class: "btn btn-lg btn-primary "%>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-8">
                            <!-- Filter -->
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Search Filter</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="job-type">Sort By</label>
                                                 <select name="job-type" id="job-type" class="form-control">
                                                    <option value="1" selected>Relevance</option>
                                                    <option value="2">Date</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="distance">Distance</label>
                                                <select name="distance" id="distance" class="form-control">
                                                    <option value="1">Within 5 Miles</option>
                                                    <option value="2">Within 10 Miles</option>
                                                    <option value="3" selected>Within 25 Miles</option>
                                                    <option value="4">Within 50 Miles</option>
                                                    <option value="5">Within 100 Miles</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="salary">Time</label>
                                                <select name="time" id="time" class="form-control">
                                                    <option value="1" selected>All Time</option>
                                                    <option value="2">Last Day</option>
                                                    <option value="3">Last Week</option>
                                                    <option value="4">Last 2 Weeks</option>
                                                    <option value="5">Last 3 Weeks</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="job-type">Job type</label>
                                                <select name="job-type" id="job-type" class="form-control">
                                                    <option value="1" selected>Full-time</option>
                                                    <option value="2">Temporary</option>
                                                    <option value="3">Contract</option>
                                                    <option value="4">Part-time</option>
                                                    <option value="5">Commission</option>
                                                    <option value="6">Internship</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END - Filter -->
                            <% end %>
                            <!-- Job Search Result -->
                            <% if @results.count > 0 %>

                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                    <% @results.each do |job| %>
                                      
                                        <div class="hr-line-dashed"></div>  
                                        <div class="search-result">
                                            <h3> 
                                                <%= job.job_title %> 
                                            </h3> 

                                            <div class = "search-link"> 
                                                <%= job.company %>  
                                            </div>

                                            <p> <%= job.formatted_location %> </p>
                                            <p> <%= job.snippet %> </p>

                                            <%= link_to "Apply for this job", job.url, :target => "_blank", class: "btn btn-primary btn-xs" %>
                                        </div>    
                                        
                                    <% end %>

                                    <div class="hr-line-dashed"></div> 
                                    <div class="text-center">
                                    <%= paginate @results %>
                                    </div>

                                    </div>
                                </div>                                
                            <% end %>
                            <!-- END - Job Search Result -->
                        </div>
                        <!-- END - Left Column -->
                        <!-- Right Column -->
                        <div class="col-md-4">

                            <!-- Recent Search History -->
                            
                            <!-- END - Recent Search History -->

                            <!-- Job Alert -->
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Job Alert</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <p>Want an email when new jobs match this search?</p>


                                    <form role="form">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" placeholder="Enter your email address" class="form-control">
                                        </div>
                                    </form>


                                    <p>
                                        <button type="button" class="btn btn-block btn-primary">Create Job Alert</button>
                                    </p>
                                </div>
                            </div>
                            <!-- END - Job Alert -->

                            <!-- Related Jobs -->
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Related Jobs</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="feed-activity-list">
                                        <div class="feed-element">
                                            <div> <a href="#">Accountant</a> </div>
                                        </div>
                                        <div class="feed-element">
                                            <div> <a href="#">Accounting Manager</a> </div>
                                        </div>
                                        <div class="feed-element">
                                            <div> <a href="#">Assistant Controller</a> </div>
                                        </div>
                                        <div class="feed-element">
                                            <div> <a href="#">Chief Financial Officer (CFO)</a> </div>
                                        </div>
                                        <div class="feed-element">
                                            <div> <a href="#">Finance Director</a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END - Related Jobs -->

                        </div>
                        <!-- END - Right Column -->
                    </div>
                </div>
            </div>
            <%= render "layouts/footer" %>
        </div>
    </div>
</body>