<%= render "layouts/headerHomePage" %>
<%= render "layouts/jobalertmodal" %>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">           
            <div class="wrapper wrapper-content animated fadeInRight" style="margin-top: 30px;">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                            <div class="ibox float-e-margins">
                                
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <%= text_field_tag :search, params[:search], placeholder: "Job title, company, or keywords", style: "border: 1px solid #1ab394;", class: "form-control input-lg", id: "job" %>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                           <%= text_field_tag :city, params[:city], placeholder: "City, state, or zip", class: "form-control input-lg", style: "border: 1px solid #1ab394;"%>
                                        </div>
                                    </div>
                                    <div class="col-md-2">                                  
                                        <%= submit_tag "Search",  class: "btn btn-lg btn-primary "%>
                                    </div>
                                </div>
                                
                            </div>
                            <% end %>
                        </div>
                    </div>


                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-8">
                            <!-- Filter -->
                            
                            <!-- <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Search Filter</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="job-type">Sort By</label>

                                                <%= select_tag :sort, options_for_select([ ["Relevance","relevance"], ["Date","date"]], "relevance"), class: "form-control" %>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="distance">Distance</label>                                             
                                                <%= select_tag :radius, options_for_select([ ["Within 5 Miles",5], ["Within 10 Miles",10], ["Within 25 Miles",25], ["Within 50 Miles",50], ["Within 100 Miles",100]], 25), class: "form-control" %>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="salary">Time</label>

                                                <%= select_tag :fromage, options_for_select([ ["All Time",0], ["Last Day",1], ["Last Week",7], ["Last 2 Week", 14], ["Last 3 Weeks", 21]]), class: "form-control" %>

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label" for="job-type">Job type</label>                                               
                                                <%= select_tag :jt, options_for_select([ ["Full-time","fulltime"], ["Temporary","temporary"], ["Part-time","parttime"], ["Contract","contract"], ["Internship",'internship']]), class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- END - Filter -->
                            
                            <!-- Job Search Result -->
                            <% if @results.count > 0 %>

                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">

                                    <div class="col-md-8" style="padding-left: 0px;">
                                        <h4 style="text-align: left;">
                                            There are <%= @count_all_job %> jobs related to <%= @search_query %>
                                            </h4>
                                    </div>
                                    <div class="col-md-4" style="padding-right: 0px">
                                        <h4 style="text-align: right">
                                            <%= image_tag 'starhalf.png', class: 'starship', :style=>'margin-bottom: 6px;' %>
                                            Featured Jobs
                                        </h4>
                                    </div>
                                    
                                    <% count = 0 %>
                                    
                                    <% @results.each do |job| %>
                                      
                                        <div class="hr-line-dashed"></div>  
                                        <div class="search-result">
                                            <h3>                                                 
                                                <%= link_to job.job_title, job.url, :target => "_blank", :onclick => "ga('send', 'event', 'JobFromTheJobPage', 'Click', 'JobFromTheJobPage1');"%>
                                                <% if count<3 %>
                                                    <%= image_tag 'starhalf.png', class: 'starship', :style=>'margin-bottom: 6px;' %>
                                                <% end %>
                                            </h3> 

                                            <div class = "search-link">                                              
                                                <%= link_to job.company + ", "+ job.formatted_location, job.url, :target => "_blank" , :onclick => "ga('send', 'event', 'JobFromTheJobPage', 'Click', 'JobFromTheJobPage1');"%>
                                            </div>

                                            <p> <%=  %> </p>
                                            <p> <%= job.snippet %> </p>

                                            <%= link_to "Apply for this job", job.url, :target => "_blank", class: "btn btn-primary" , :onclick => "ga('send', 'event', 'JobFromTheJobPage', 'Click', 'JobFromTheJobPage1');"%>
                                        </div>    
                                        <% count = count + 1 %>
                                    <% end %>

                                    <div class="hr-line-dashed"></div> 
                                    <div class="text-center">
                                    <%= paginate @results %>
                                    </div>

                                    </div>
                                </div>                                
                            <% end %>
                            <!-- END - Job Search Result -->
                        </div>
                        <!-- END - Left Column -->
                        <!-- Right Column -->
                        <div class="col-md-4">

                            <!-- Recent Search History -->
                            
                            <!-- END - Recent Search History -->

                            <!-- Job Alert -->
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Job Alert</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>

                                <div class="ibox-content", id= "containerforgetemail">
                                    <p>Want an email when new jobs match this search?</p>

                                      <%= simple_form_for(resource1, :as => resource_name1, :url => job_alerts_path(resource_name1), :remote => true, :html => {:id => 'form-horizontal'}) do |f| %>
                                      <div class="form-group">
                                        <%= f.label :email %>
                                        <%= f.text_field :email, :class => "form-control", autocomplete: "off", :placeholder => 'Enter your email address' %>
                                      </div>
                                      <div class="form-group">
                                      <%= f.submit "Submit", :class => "btn btn-primary block full-width m-b", :id => "job_alert_tag2" %>
                                      
                                      </div>
                                      <% end %> 
                                   
                                </div>

                                

                            </div>

                            <!-- END - Job Alert -->

                            <!-- Related Jobs -->
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Related Jobs</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                                    </div>
                                </div>
                                
                                <div class="ibox-content">
                                    <div class="feed-activity-list">
                                        <div class="feed-element">
                                            <div> 
                                                <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                                                <%= hidden_field_tag :searchLink, :value => 'Accountant'%>
                                                <%= submit_tag "Accountant", class: "searchlink"%>
                                                <% end %> 
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <div>
                                                <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                                                <%= hidden_field_tag :searchLink, :value => 'Accounting Manager'%>
                                                <%= submit_tag "Accounting Manager", class: "searchlink"%>
                                                <% end %> 
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <div>
                                                <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                                                <%= hidden_field_tag :searchLink, :value => 'Assistant Controller'%>
                                                <%= submit_tag "Assistant Controller", class: "searchlink"%>
                                                <% end %> 
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <div>
                                                <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                                                <%= hidden_field_tag :searchLink, :value => 'Chief Financial Officer (CFO)'%>
                                                <%= submit_tag "Chief Financial Officer (CFO)", class: "searchlink"%>
                                                <% end %> 
                                            </div>
                                        </div>
                                        <div class="feed-element">
                                            <div>
                                                <%= form_tag(jobs_path, :method => "get", id: "search-form") do %>
                                                <%= hidden_field_tag :searchLink, :value => 'Finance Director'%>
                                                <%= submit_tag "Finance Director", class: "searchlink"%>
                                                <% end %> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END - Related Jobs -->

                        </div>
                        <!-- END - Right Column -->
                    </div>
                </div>
            </div>
            <%= render "layouts/footer" %>
        </div>
    </div>
</body>

<script>
function eraseCookie(name) {
    document.cookie = name + '=; Max-Age=0'
}

$(window).load(function(){

    if($.cookie('JobAlertCookie') != null && $.cookie('JobAlertCookie') != "")
    {
        $("div#CreateJobAlert.modal, .modal-backdrop").hide();
    }
    else
    {
        $('#CreateJobAlert').modal('show');
        var date = new Date();
        var minutes = 60;
        date.setTime(date.getTime() + (minutes * 60 * 1000));
        $.cookie("JobAlertCookie", "str", { expires: date });        
    }

});
</script>