<!-- Terms & Conditions -->
<div class="modal inmodal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Terms & Conditions</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- END - Terms & Conditions -->
<!-- Privacy Policy -->
<div class="modal inmodal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Privacy Policy</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<body class="gray-bg">
	<div class="passwordBox animated fadeInDown">
		<div class= "row col-md-12 ibox-content">
			<h2 class="font-bold">Sign Up</h2>
	
			<div class = 'row col-lg-12' >
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			
			  <div class="form-group">
			<%= f.text_field :first_name,  :class => "form-control", :placeholder => 'First Name' %>
			  </div>

			  <div class="form-group">
				<%= f.text_field :last_name,  :class => "form-control", :placeholder => 'Last Name' %>
			  </div>


			  <div class="form-group">
			<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => 'Email' %>
			  </div>
			
			  <div class="form-group">
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => 'Password' %>
			  </div>
			
			 <!--  <div class="form-group">
			<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => 'Password Confirmation' %>
			  </div> -->
			
			<p class="text-muted text-center">
				<small>By signing up for Pathily, you agree to the 
				<!-- <a href="#" onClick="$('#myModal1').modal()" >Terms of Service</a>.  -->
				<a href="#">Terms of Service</a>. 
				View our 
				<!-- <a href="#" onClick="$('#myModal1').modal()">Privacy Policy</a>. -->
				<a href="#">Privacy Policy</a>.
				</small>
			</p>

			  <div class="form-group">
			<%= f.submit "Sign up", :class => "btn btn-primary block full-width m-b" %>
			  </div>
			</div>
			<% end %>
			
			<p class="text-muted text-center">
	            <small>Already have an account? 
	                <%= link_to "Log in", new_session_path(resource_name)%><br />
	            </small>
	        </p>

	        <div class="fa fa-linkedin-square fa-2x">
			</div>
			<%= link_to "Sign Up with Linkedin", user_linkedin_omniauth_authorize_path%>
			<br>
			<div class="fa fa-facebook-square fa-2x">
			</div>
			<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
			<br>
			<div class="fa fa-google-plus fa-2x">
			</div>
			<%= link_to "Sign in with Gmail", user_google_oauth2_omniauth_authorize_path %>
		</div>
	</div>
	
	
</body>


