<div class="modal inmodal fade" id="PleaseRegister" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Free Personalized Career Maps to Help you Achiever Your Goals. <br> Sign Up Now!</h4>
                <h4 id="flashThankYou">Thank you so signing up with Pathily</h4>
            </div>

            <div class="modal-body">
                <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
                  <div class="form-group">
                <%= f.text_field :first_name,  :class => "form-control", :placeholder => 'First Name' %>
                  </div>
                  <div class="form-group">
                    <%= f.text_field :last_name,  :class => "form-control", :placeholder => 'Last Name' %>
                  </div>
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => 'Email' %>
                      </div>
                  <div class="form-group">                                        
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => 'Password with at least 6 characters' %>
                      </div>
                    
                     <!--  <div class="form-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => 'Password Confirmation' %>
                      </div>   -->                                      
            </div>                              
                
            <div class="modal-footer form-group">
                <%= f.submit "Sign up", :class => "btn btn-primary block full-width m-b", :id => "signupmodel" %>
                <% end %>

                <p class="text-muted text-center">
                <small>Already have an account? 
                    <%= link_to "Log in", new_session_path(resource_name)%><br />
                </small>
                </p>
            </div>
            <script>                  

              $('#signupmodel').click(function(){
                      $('#flashThankYou').fadeIn('normal', function() {
                          $(this).delay(11000).fadeOut();
                      });
                });
            </script>
        </div>
    </div>
</div>