	<!-- Top Nav -->
	<div class="row border-bottom white-bg">
	    <nav class="navbar navbar-fixed-top" role="navigation">
	        <div class="navbar-header">
	            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
	                <i class="fa fa-reorder"></i>
	            </button>
	            
            	<%= link_to image_tag("pathily_logo.png", :alt => "Logo", :class => "pathilylogo", :style => '-webkit-user-select: none'), root_path %>
	            
	        </div>
	
	        <div class="navbar-collapse collapse" id="navbar">
	            <ul class="nav navbar-nav">
	                <li>
	                    <%= link_to "Career Path", root_path %>  
	                </li>
	                <li>
	                    <%= link_to "Jobs", "jobs.html" %>  
	                </li>
	            </ul>
	
	            <ul class="nav navbar-top-links navbar-right">
	            	<% if user_signed_in? %>
	            		<li class="dropdown">
		                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 
		                    	<%= current_user.first_name + " " + current_user.last_name %>
		                    	<span class="caret"></span>
		                    </a>
		                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
		                        <li>
		                        	<%= link_to "Settings", setting_path %>
		                        </li>
		                        <li class="divider"></li>
		                        <li>
		                        	<%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
		                        </li>
		                    </ul>
	                	</li>
	            		
	            	<% else %>
	            	<ul class="nav navbar-nav">
	            		<li>
	            		<%= link_to "Sign up", new_user_registration_path %>  
	            		</li>
	            		<li class="divider"></li>
	            		<li>
	            		<%= link_to "Sign in", new_user_session_path %>  
	            		</li>
                    </script>
	            	</ul>
	            	<% end %>
	            </ul>
	        </div>
	    </nav>
	</div> 