<!DOCTYPE html>
<html>
	<head>
	  <title>Path</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	
	  <%= stylesheet_link_tag "animate" %>
	  <%= stylesheet_link_tag "bootstrap-social" %>
	  <%= stylesheet_link_tag "custom" %>
	  <%= stylesheet_link_tag "font-awesome" %>
	  <%= stylesheet_link_tag "social-buttons" %>
	  <%= stylesheet_link_tag "style" %>
	  <%= stylesheet_link_tag "style.min" %>
	
	  <%= javascript_include_tag "icheck.min.js" %>
	  <%= javascript_include_tag "inspinia.js" %>
	  
	</head>
	
	<body>
	<%= yield %>
	</body>
	
</html>
